<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
      Create new service

      <form method="post" >

        <label> Tên </label>
        <input type="text" name = "name">

        <label> Năm sinh </label>
        <input type="text" name = "yob">

        <label> SĐT </label>
        <input type="text" name = 'phone'>

        <label> Chiều cao </label>
        <input type="text" name = "height">

        <label> Địa chỉ </label>
        <input type="text" name = "address">

        <label>  Avatar </label>
        <input type="text" name = "image">

        <label> Tính cách </label>
        <input type="text" name = "description">

        <label> Vòng 1 </label>
        <input type="text" name = "measure1">

        <label> Vòng 2 </label>
        <input type="text" name = "measure2">

        <label> Vòng 3 </label>
        <input type="text" name = "measure3">

        <br>
        <label > Giới tính </label> <br>
        <input type="radio" name = 'gender' value="1"> Male <br>
        <input type="radio" name = 'gender' value="0" checked> Female <br>

        <input type="submit" value = "Thêm">


      </form>
  </body>
</html>
