<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update</title>

  </head>
  <body>
    <h1>Update</h1>
    <form method="post" >

      <label> Tên </label>
      <input type="text" name = "name" value= '{{ services.name }}'>

      <label> Năm sinh </label>
      <input type="text" name = "yob" value= '{{ services.yob }}'>
      <br>

      {% if services.gender == 0 %}
      <input type="radio" name="gender" checked> Nam
      <input type="radio" name="gender" > Nữ
      {% else %}
      <input type="radio" name="gender" > Nam
      <input type="radio" name="gender" checked> Nữ
      {% endif%}


      <br>
      <input type="submit" value = "Sửa">


    </form>
  </body>
</html>
